body{
  background-color: hsl(210, 100%, 75%);
  overflow-x: hidden;
}
h1{
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  transform: translateX(50%);
  margin-top: 25px;
}
.square {
  width: 250px;
  height: 250px;
  background: linear-gradient(hsl(0, 100, 50), hsl(210, 100, 50));
  border-radius: 25px;
  border-color: black;
  border-width: 5px;
  padding: 10px;
  margin: 0 auto;
}

/* #box1 {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
} */