body{
  background-color: hsl(210, 100%, 75%);
  overflow-x: hidden;
}
h1{
  color: black;
  font-size: 40px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  transform: translateX(50%);
  margin-top: 25px;
}
.square {
  width: 250px;
  height: 250px;
  background: linear-gradient(hsl(0, 100, 50), hsl(210, 100, 50));
  border-radius: 25px;
  border-color: black;
  border-width: 5px;
  padding: 10px;
  margin: 0 auto;
}

/* #box1 {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
} */

.group1
{
position:absolute;
width:250px;
height:125px;
border-style:hidden;
outline:none;
transform: translate(50%, 50%);
}
.rectangle1
{
background-color:#2600ff;
height:125px;
width:250px;
border-radius:50px;
position:absolute;
top:-0.01px;
left:0px;
}
.clickme
{
color:#ffffff;
text-align:Center;
vertical-align:middle;
font-size:36px;
font-family: "Quicksand", sans-serif;
line-height:auto;
border-style:hidden;
outline:none;
width:250px;
position:absolute;
transform: translateY(-50%);
}
